.button.is-small:not(.is-rounded) {
  border-radius: 0px;
}

.button.is-small:not(.is-rounded):focus {
  outline: none;
  box-shadow: none;
}

.action-bar {
  position: absolute;
  top: 0;
  right: calc(50vw - 110px);
  opacity: 0.5;
  transition: opacity 0.1s;
}

.action-bar:hover {
  opacity: 1;
}
